<h1>Cadastro de Comunicado</h1>

<div>
  * Foto de capa:
  <form [formGroup]="uploadFormImageTitle" (ngSubmit)="onSubmit()">
    <input type="file" #imageTitle name="imageTitle" (change)="onImageTitleSelect($event)" />
  </form>
</div>

<div>
  Imagem ou Video:
  <form [formGroup]="uploadFormOptionalFile">
    <input type="file" #optionalFile name="optionalFile" (change)="onOptionalFileSelect($event)" />
  </form>
</div>

<div>
  * Título:<br />
  <input type="text" [(ngModel)]="post.title" style="width:600px;">
</div>
  
<div>
  * Texto do comunidado:<br />
  <ejs-richtexteditor #toolsRTE id='alltoolRTE' width="600px" height="600px"
    [(value)]="post.content"
    [toolbarSettings]='toolbarSettings'
    [fontFamily]='fontFamily'
    [fontColor]='fontColor'
  ></ejs-richtexteditor>
</div>

<div>
  <button type="submit" (click)="onSubmit()">Salvar Notificação</button>
</div>
